/* Status Bar */
.status-bar-wrapper {
    position: fixed;
    top: 55px; /* Adjust below header */
    left: 200px; /* Align after base panel */
    width: calc(100% - 200px); /* Full width minus base panel */
    height: 30px;
    background-color: #86512b;
    z-index: 150;
  }
  
  .status-bar {
    position: fixed;
    top: 60px; /* Positioned under header */
    left: 200px; /* Start after the base panel */
    height: 16px;
    width: 100%; /* Stretch across the full width of the container */
    line-height: 0.1; /* Adjust line-height for compactness */
    color: #ffffff; /* White text */
    font-size: 12px; /* Adjust font size as needed */
    padding: 0px 10px; /* Add some padding for aesthetics */
    text-align: left; /* Center the text */
    z-index: 150; /* High enough to prevent conflicts */ 
  }
  
  /* .status-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 1.2rem;
    overflow: hidden; }
   */
  
  .status-bar p {
    display: inline-block;
    transform: translateX(-100%);
    animation: slide-in 0.5s ease-out forwards;
  }
  
  @keyframes slide-in {
    to {
      transform: translateX(0);
    }
  }