:root {
  /* Grid tile colors */
  --homestead-color: #49b93e;    /* Light green */
  --valley-color: #00851f;       /* Dark green */
  --reserved-color: #8b0000;     /* Dark red */
  --town-color: #deb887;         /* Beige */
  --unknown-color: #d3d3d3;      /* Light gray */
}